name: CI

on:
  push: {}              # roda em qualquer branch
  pull_request:
    branches: [ main, develop ]

env:
  NODE_VERSION: "20"

permissions:
  contents: read
  pull-requests: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Pre-deploy checks
        run: npm run check:deploy

      - name: Build
        run: npm run build
